body {
  font-family: "Roboto", sans-serif;
  color: #000022;
}

label {
  font-size: 16px;
}

input {
  width: 97%;
  padding: 8px 4px;
  margin: 8px 0;
  font-size: 16px;
}

.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-primary {
  padding: 8px;
  font-size: 16px;
  color: white;
  background-color: #840032;
  border-radius: 8px;
  border-color: #840032;
}

.button-secondary {
  padding: 8px;
  font-size: 16px;
  color: #840032;
  background-color: white;
  border-radius: 4px;
  border-color: #840032;
  border-width: 1px;
}

.container {
  display: flex;
  flex-direction: row;
}

.transaction-table {
  flex-grow: 1;
  padding: 8px;
  margin-left: 4px;
}

.form-group {
  margin: 8px;
}
