body {
  font-family: "Roboto", sans-serif;
  color: #252627;
}

label {
  font-size: 12;
}

input {
  width: 100%;
  padding: 8px 4px;
  margin: 8px 0;
}

.button-primary {
  padding: 8px;
  margin: 8px;
  font-size: 16px;
  background-color: #faf2a1;
}

.container {
  display: flex;
  flex-direction: row;
}

.add-transaction {
  width: 25%;
  background-color: #759aab;
  padding: 8px;
}

.transaction-table {
  flex-grow: 1;
  padding: 8px;
}

.form-group {
  margin: 8px;
}
